:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#f7432e;
    --border-color:#bdbdbd;
    --header-height:120px;
    --navbar-hieght:34px;
    --star-gold:#FFCE3E;
    --header-sort-bar-height:46px;
    
    --header-with-search-height:calc(var(--header-height) - var(--navbar-hieght))
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height :1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column{
    padding-right: 5px;
    padding-left: 5px;
    

}
.grid__column-2{
    padding-right: 5px;
    padding-left: 5px;
    width: 16.6667%;

}
.grid__column-2-4{
    padding-right: 5px;
    padding-left: 5px;
    width: 20%;

}
.grid__column-10{
    padding-right: 5px;
    padding-left: 5px;
    width: 83.3334%;

}

/* animation */
@keyframes facein{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--from));

    }
    to{
        transform: scale(var(--to));
    }
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation:facein linear 0.1s ;
}
.modal__overplay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.modal__body{
    --to:1;
    --from:0.7;
    background-color: var(--white-color);
  position: relative;
    margin: auto;
    z-index: 1;
    border-radius: 4px;
    animation:growth linear 0.1s ;
}
/* button styles */
.btn{
    width: 124px;
    height: 34px;
    background-color: var(--white-color);
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
   padding: 0;
   outline: none;
   color: var(--text-color);
   display: inline-flex;
   justify-content: center;
   align-items: center;
   line-height: 1.6rem;
   cursor: pointer;
   

   
}
.btn.btn-nomal:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn.btn--disable{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}
.auth-form__socials{
    background-color: #e9e1e1;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
}
.btn.btn--size-s{
    height: 30px;
  
} 
.auth-form__socials-label{
    margin:0 36px;
}

/* selection */
.select-input{
    height: 34px;
    min-width: 200px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    position: relative;
}
.select-input__label{
    font-size: 1.4rem;
    border-radius: 2px;
}
.select-input-icon{
    font-size: 1.4rem;
    color: #4a4a4a;
  
    position: relative;
    top: 2px;
   
}
.select-input-list{
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
     list-style: none;
     background-color: var(--white-color);
     padding: 8px 16px;
     display: none;
     z-index: 1;
    
}
.select-input-list::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: -12px;
    right: 0;
    height: 12px;
   
}
.select-input-item-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}
.select-input-item-link:hover{
    color: var(--primary-color);
}
.select-input:hover .select-input-list{
    display: block;
}
/* pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item{
  
   margin: 0 16px;
    
}
.pagination-item-link{
    --height:30px;
    text-decoration: none;
    display: block;
   
    color: #939393;
    font-size: 1.6rem;
    font-weight: 400;
    min-width: 40px;
    height: var(--height);
   line-height: var(--height);
   text-align: center;
   border-radius: 2px;
}

.pagination-item-active .pagination-item-link{
    background-color: #ee4d2d;
    color: var(--white-color);
}
.pagination-item-active .pagination-item-link:hover{
    background-color: #d85e46;
  
}
.footer{
    border-top: 4px var(--primary-color) solid;
    padding-top: 12px;
}
.footer__heading{
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: center;
}
.footer__list{
    padding: 0;
    list-style: none;

}
.footer__item-link{
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 5px 0;
    align-items: center;
    justify-content: center;
}
.footer__item-link:hover{
    color: var(--primary-color);
}
.footer__item-link-icon{
    font-size: 1.7rem;
    margin-right: 8px;
}
.footer__download{
    display: flex;
    justify-content: center;
}
.footer__download-qr{
    width: 80px;
    height: 80px;
    
    border: solid 1px var(--border-color);
}
.footer__download-apps{
    display: flex;
  
   margin-left: 16px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-dowload-app-img{
   
   height: 20px;
}
.footer__download-apps-link{
    text-decoration: none;
    color: transparent;
}
.footer__bottom{
    min-height: 48px;
    padding: 12px;
    font-size: 1.4rem;
    margin-top: 36px;
    text-align: center;
    color: #737373;
}
